@model IEnumerable<taximeter.Entity.Conductor>

@{
    ViewData["Title"] = "Index";
}

<h1>Reporte de Conductores</h1>

<p>
    <a asp-action="Create"><input type="submit" value="Crear Nuevo Conductor" class="btn btn-success"></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Licencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConductorId"><input type="submit" value="Editar" class = "btn btn-success"></a> 
                <a asp-action="Details" asp-route-id="@item.ConductorId"><input type="submit" value="Detalles" class = "btn btn-primary"></a> 
                <a asp-action="Delete" asp-route-id="@item.ConductorId"><input type="submit" value="Borrar" class = "btn btn-danger"></a>
            </td>
        </tr>
}
    </tbody>
</table>
