@model taximeter.Entity.Trayecto

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar Trayecto</h1>

<h3>¿Quieres borrar este registro?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ubicacion_Inicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ubicacion_Inicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ubicacion_Final)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ubicacion_Final)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kilometraje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kilometraje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Taxi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Taxi.Anho)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TrayectoId" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> 
        <a asp-action="Index"><input type="submit" value="Volver a la lista" class = "btn btn-info"></a>
    </form>
</div>
