@model IEnumerable<taximeter.Entity.Trayecto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion_Inicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion_Final)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kilometraje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taxi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion_Inicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion_Final)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kilometraje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taxi.Anho)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrayectoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TrayectoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrayectoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
